article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

/*
    temporaire
*/
.tag_choice ul li {
    display: inline;
}

/*
    Cedric CSS
*/

dt{
    margin-bottom: 20px;
}

dd{
    border-left: 1px dashed #CFD8DC;
    padding-left: 50px;
    margin: 0px;
    margin-bottom: 20px;
}

ul{
    list-style-type: none;
    padding: 0px;
}

.text_node{
    color: #689F38;
    background-color: #DCEDC8;
    padding: 5px;
    margin-bottom: 20px;
}

.leaf{
    color: #8BC34A;
    background-color: transparent;
}

label{
    color: #727272;
}

p{
    margin: 0px;
}

.xml_tag{
    display: inline-block;
    color: #009688;
    text-transform: uppercase;
    padding: 5px;
}

.attributs_tag{
    display: inline-block;
    margin-left: 10px;
}

.attribut{
    display: inline-block;
    background-color: #DCEDC8;
    color: #009688;
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    text-transform: none;
}

.attribut_add_container{
    margin-top: 10px;
    color: #888888;
}

.attribut_add_container span{
    margin: 0px 10px 0px 10px;
}

.attribut_add_container select{
    margin-right: 10px;
}

.warning{
    color: red;
}
