article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

/*
    Cedric CSS
*/

body{
    margin: auto;
    width: 800px;
}


/* TAG NODE */
.xml-tag {
    color: green;
}

.children {
    border-left: 1px solid green;
    padding-left: 50px;
    margin: 0px;
}

/* TEXT NODE */
.xml-text {
    border: 1px solid white;
    padding: 5px;
    white-space: pre-wrap;
    cursor: pointer;
}

.source:hover {
    text-decoration: underline;
}

.text-node:hover .xml-text, .text-node-edit .xml-text {
    background-color: #f3f3f3;
    border: 1px solid #ccc;
}


/* TEXT NODE EDIT */
.text-node-edit {
    border: 1px solid #CFD8DC;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 20px;
}

.buttons-tag{
    margin: 10px 0px 10px 0px;
}

.button-tag {
    display: inline-block;;
    margin-right: 10px;
}


/* OTHERS */



.left {
    flex-grow: 2;
}

.right {
    margin-left: 10px;
    position: relative;
}

.right button {
    display: block;
    width: 26px;
    height: 26px;
    margin: 0px;
    padding: 0px;
}

button img {
    float: left;
}

.button_ascend {
    position: absolute;
    bottom: 0px;
}











.leaf{
    background-color: transparent;
}

label{
    color: #727272;
}

.attributes_tag{
    display: inline-block;
    margin-left: 10px;
}

.attribut{
    display: inline-block;
    background-color: #698096;
    color: #d7e3ea;
    margin-right: 10px;
    padding: 0px 7px;
    border-radius: 3px;
    text-transform: none;
    height: 100%;
    cursor: pointer;
}

.attribut:hover{
    color: white;
    background-color: red;
}

.attribut_add_container{
    margin-top: 10px;
    color: #888888;
}

.attribut_add_container span{
    margin: 0px 10px 0px 10px;
}

.attribut_add_container select{
    margin-right: 10px;
}

.attribut_add_container input{
    margin-right: 10px;
}

.warning{
    color: red;
}
