article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

/*
    Cedric CSS
*/

body{
    margin: auto;
    width: 800px;
}

dt{
    margin-bottom: 20px;
}

dd{
    border-left: 1px dashed #CFD8DC;
    padding-left: 50px;
    margin: 0px;
    margin-bottom: 20px;
}

ul{
    list-style-type: none;
    padding: 0px;
}

.selection_panel{
    margin: 10px 0px 10px 0px;
}

.button_tag {
    display: inline-block;;
    margin-right: 10px;
}

.text_node{
    background-color: #d7e3ea;
    border: 1px solid #CFD8DC;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.text_node div{
    margin: 10px 0px 10px 0px;
}

.source {
    background-color: white;
    padding: 10px 10px 10px 10px;
}

.show{
    background-color: white;
    padding: 10px 10px 10px 10px;
}

.leaf{
    background-color: transparent;
}

label{
    color: #727272;
}

p{
    margin: 0px;
}

.xml_tag{
    display: inline-block;
    color: #698096;
    text-transform: uppercase;
    padding: 5px;
}

.attributs_tag{
    display: inline-block;
    margin-left: 10px;
}

.attribut{
    display: inline-block;
    background-color: #698096;
    color: #d7e3ea;
    margin-right: 10px;
    padding: 0px 7px;
    border-radius: 3px;
    text-transform: none;
    height: 100%;
    cursor: pointer;
}

.attribut:hover{
    color: white;
    background-color: red;
}

.attribut_add_container{
    margin-top: 10px;
    color: #888888;
}

.attribut_add_container span{
    margin: 0px 10px 0px 10px;
}

.attribut_add_container select{
    margin-right: 10px;
}

.attribut_add_container input{
    margin-right: 10px;
}

.warning{
    color: red;
}
